* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

.donate-banner{
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 0;
}

.banner-content{
    text-align: center;
}


.banner-title{
    font-size: 60px;
    color: #ffffff;
}

.banner-content p{
    font-size: 18px;
    color: #ffffff;
}