* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, a {
  font-family: "Poppins", sans-serif;
}

.donate-banner{
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 190px 0;
}

.banner-content{
    text-align: center;
}


.banner-title{
    font-size: 70px;
    color: #ffffff;
    font-weight: 600;
    line-height: 90px;
    margin-bottom: 10px;
}

.banner-content p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}

.donate-btn{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  background-color: #FF5959;
  padding: 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
}



